@namespace url(http://www.w3.org/1999/xhtml);
.WB_global_nav .gn_header { width: 100% !important; }
    .WB_global_nav { height: 40px !important; background: #333 !important; opacity: 0.9 !important; border: none !important; box-shadow: none !important; }
    .WB_global_nav .gn_header { position: absolute !important; left: 70px; margin-top: -4px !important; height: 0 !important; }
    .WB_global_nav  .gn_logo { margin: 2px 0 0 20px !important; }
    .WB_global_nav  .gn_logo, .WB_global_nav .gn_logo .box, .WB_global_nav .gn_logo .box .logo { width: 35px !important; margin: 0 !important; background-position: 0 50% !important; }
    .WB_global_nav .gn_position { position: absolute !important; left: 0 !important; }
    .WB_global_nav .gn_position .gn_nav { margin: 12px  0 0 !important; }
    .WB_global_nav .gn_position .gn_nav .gn_nav_list li { display: none !important; }
    .WB_global_nav .gn_position .gn_nav .gn_nav_list li:nth-child(4) { display: block !important; margin-left: 15px !important; }
    .WB_global_nav .gn_position .gn_nav .gn_nav_list li:nth-child(4) a em:nth-child(1) { display: none !important; }
    .WB_global_nav .gn_position .gn_nav .gn_nav_list li:nth-child(4) a em:nth-child(2) { color: #fff !important; font-size: 12px; }
    .WB_global_nav .gn_person { position: absolute !important; float: left !important; left: 10px; }
    .WB_global_nav .gn_person .S_txt1 { font-size: 12px !important; color: #fff !important; max-width: 90px !important; }
    .WB_global_nav .W_ficon { font-size: 21px !important; color: #c7c7c7 !important; text-shadow: 0px 0px 2px #333; }
    .WB_global_nav .ficon_set { vertical-align: 0px !important; }
    .WB_global_nav .ficon_send { background: none !important; font-size: 22px !important; }
    .WB_global_nav .gn_set { border: none !important; margin: 12px  0 0 !important; }
    .WB_global_nav .gn_search_v2 { width: 288px !important; height: 26px !important; position: absolute !important; right: 70px !important; margin: 11px 10px 0 0 !important; border: 0px !important; border-radius: 50px !important; }
    .WB_global_nav .gn_search_v2 .placeholder, .WB_global_nav .gn_search_v2 .W_input { width: 245px !important; height: 20px !important; line-height: 20px !important; padding: 4px 28px 4px 15px !important; border: none !important; border-radius: 50px !important; }
    .WB_global_nav .gn_search_v2 .ficon_search { top: 0px !important; text-shadow: none !important; color: #888 !important; }
    .WB_global_nav .gn_search_v2 .gn_topmenulist_search { width: 290px !important; }
    .WB_global_nav .ficon_search { background-position: -50px -172px !important; }
    .WB_global_nav .gn_search { visibility: hidden; }
    body, .S_page, .WB_miniblog, .WB_frame { background-image: none !important; }
    .FRAME_main { background-color: #eee !important; }
    .WB_frame { font-size: 12px !important; letter-spacing: 0 !important; background: none !important; }
    .WB_frame #plc_main { width: 750px !important; margin-left: 170px !important; background: #fafafa !important; padding: 20px 40px !important; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2); border-radius: 5px !important; }
    .WB_frame .WB_main_l { position: absolute !important; }
    .send_weibo { height: auto !important; }
    .send_weibo .kind { width: 400px; }
    .send_weibo .kind .ficon_more { display: inline; }
    #v6_pl_content_publishertop .func_area { padding-top: 5px; }
    #v6_pl_content_homefeed #home_new_feed_tip { height: 20px; margin-top: 10px; border: 1px solid #d8d8d8; }
    #v6_pl_content_homefeed #home_new_feed_tip a { line-height: 15px !important; }
    .WB_main_c .WB_cardwrap { border-radius: 0; box-shadow: none !important; border-color: #d8d8d8; border-style: dotted; border-width: 0 0 1px 0; background: none !important; }
    .WB_main_c .send_weibo { background: none !important; box-shadow: none !important; }
    .WB_handle { position: relative; height: 28px; bottom: 20px; width: 270px; left: 485px; }
    .WB_feed_handle .WB_handle { bottom: 18px; }
    .WB_from { position: relative; top: 5px; left: 0px; }
    .scroller .WB_from { top: 0px; }
    .WB_func .WB_handle { position: relative; top: 5px; bottom: 0; left: 0; z-index: 999; width: auto; height: 30px; }
    .WB_repeat .WB_handle ul { width: 210px; }
    .WB_func .WB_handle ul { width: auto; }
    .WB_handle ul { width: 100%; }
    .WB_feed_comment .WB_feed_handle .WB_handle ul li:nth-child(1) { padding-left: 0px !important; }
    .WB_feed_comment .WB_feed_handle .WB_handle ul li:nth-child(4) { position: static !important; bottom: 0px !important; margin-left: -0px !important; }
    .WB_handle .WB_row_line .line, .WB_func .WB_handle li .line { border-width: 0px !important; }
    .WB_feed .WB_feed_handle { padding-bottom: 0px; margin: -15px 0 -10px 0; }
    .WB_feed_handle { padding-bottom: 5px; }
    .WB_main_c .WB_feed_repeat { position: static !important; width: 660px; margin: -5px 0 15px 70px; }
    .WB_main_c .WB_feed_repeat .WB_face, .WB_feed_repeat .WB_face img { height: 30px; width: 30px; border-radius: 50%; }
    .WB_main_c .WB_feed_repeat .repeat_list { padding: 0 20px !important; }
    .WB_main_c .WB_feed_repeat .repeat_list .WB_func .WB_handle { top: 10px; }
    .WB_main_c .WB_feed_repeat .repeat_list .between_line { border: none !important; }
    .WB_main_c .feed_spe_list_a .list_li_trend { width: 760px !important; }
    .WB_media_a_mn { width: 310px !important; }
    .WB_media_wrap .WB_feed_spec_clearfix { bottom: 5px !important; }
    .WB_expand_media_box .tab_feed_a .tab { margin: 10px 5px !important; }
    .WB_expand .WB_expand_media { padding: 0 10px 10px !important; }
    .WB_expand { padding: 10px 17px 0px 17px !important; }
    #home_new_feed_tip { background: #fff8bf !important; }
    .WB_feed_together { width: 664px; margin: 0 0 20px 70px; border: 1px solid #d8d8d8 !important; border-width: 1px !important; }
    .WB_feed_together .WB_sonFeed .WB_feed_repeat .WB_repeat { margin: 0 0 0 -50px !important; width: 90%; }
    .WB_feed_together .WB_sonFeed .WB_feed_repeat { background: #f2f2f5; }
    .WB_feed_together .WB_sonFeed .arrow { visibility: hidden !important; }
    .WB_feed_together .wft_hd .wft_info { border: none !important; }
    .WB_feed_expand .WB_text { padding: 5px 0 !important; font-size: 13px !important; }
    .WB_feed_expand .W_arrow_bor { position: relative; top: 1px; z-index: 999; }
    .WB_feed_expand .W_arrow_bor:after { position: relative; display: inline-block; content: ''; height: 0; width: 0; overflow: hidden; font-size: 0; line-height: 0; border-color: transparent transparent #f2f2f5 transparent; border-style: solid; border-width: 10px; margin: -10px 0 0 -20px; }
    .WB_feed_expand .W_arrow_bor i { border-width: 10px; margin: -10px 0 0 16px !important; border-color: transparent transparent #d8d8d8 transparent; }
    .WB_feed_detail { background-image: none !important; }
    .WB_screen .screen_box .W_ficon { opacity: 0; }
    .WB_feed_type:hover .WB_screen .screen_box .W_ficon { opacity: 1; }
    .S_bg1, blockquote, .SW_fun_bg:hover, .SW_fun_bg_active { border: 1px solid #d8d8d8; }
    .S_line2 { border-color: #fafafa !important; }
    .WB_tab_a { box-shadow: none !important; }
    .WB_tab_a  .S_bg2 { background: none !important; }
    .WB_tab_a  .W_arrow_bor_tno i { border: none !important; }
    .WB_tab_a .tab li.S_bg2, .WB_tab_a .tab li.curr .b .b1 em i { box-shadow: none !important; }
    .WB_tab_a .tab_box .fr_box { box-shadow: none !important; }
    .WB_tab_a .tab_box { box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04); }
    #plc_main .WB_main_c { width: 750px !important; margin: 0px !important; }

    /*leftSide float*/
    #plc_main .WB_main_r { margin: 0 !important; width: 0 !important;  }
#v6_pl_leftnav_group { margin: 180px 0 0 20px !important; display: block !important; }

    #v6_pl_leftnav_group a { color: #333 !important; font-weight: normal !important; }
    #v6_pl_rightmod_myinfo { position: relative !important; right: 1000px; top: -15px; float: left !important; width: 250px; }
    #v6_pl_rightmod_myinfo .S_bg2 { background: none !important; box-shadow: none !important; }
    #v6_pl_rightmod_myinfo #skin_cover_s { background: none !important; margin: 20px 25px 0 0 !important; color: #eee !important; }
    #v6_pl_rightmod_myinfo .headpic, #v6_pl_rightmod_myinfo .headpic img { width: 100px !important; height: 100px !important; }
    #v6_pl_rightmod_myinfo .headpic img { box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) !important; }
    #v6_pl_rightmod_myinfo .WB_innerwrap { padding: 20px 0 0 65px !important; }
    #v6_pl_rightmod_myinfo .WB_innerwrap  .user_atten li { width: 45px !important; }
    #v6_pl_rightmod_myinfo .WB_innerwrap .user_atten li strong { width: 45px !important; font-size: 12px !important; font-weight: normal !important; }
    #v6_pl_rightmod_myinfo .WB_innerwrap .user_atten li span { color: #000; }
    .WB_left_nav { z-index: -1 !important; }
    .WB_left_nav .lev a:hover, .WB_left_nav .lev_curr, .WB_left_nav .lev_curr:hover, .WB_left_nav .levmore .more { background-color: #e0e0e0 !important; border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
    .WB_left_nav .lev_Box .lev a { width: 136px !important; }
    .WB_left_nav .lev_Box, .WB_left_nav fieldset { border-color: #e0e0e0 !important; }
    .WB_left_nav .S_txt1, .WB_left_nav a.S_txt1:hover, .WB_left_nav .S_ficon, .WB_left_nav a:hover .S_ficon, .WB_left_nav a.S_ficon:hover, .WB_left_nav .lev .W_new_count { color: #000 !important; }
    .WB_feed_spec_info { padding: 10px 0 0 0 !important; }
    .WB_feed_spec_cont { padding: 0 10px !important; }
    .clearfix.tips_warn.W_tips, #v6_pl_rightmod_rank, #WB_webim .webim_fold, .WB_footer, .PCD_mplayer, #v6_TrustPagelet_Recom_MusicRank, .webim_fold, #plc_main [node-type="feed_spread"], .WB_global_nav .gn_person .W_ficon, #v6_pl_rightmod_myinfo .nameBox, #v6_pl_content_publishertop .title_area .key, #v6_pl_content_publishertop .title_area .title, #v6_pl_rightmod_updatev6, #v6_pl_rightmod_recominfo, .WB_right_module, #v6_pl_content_setskin, #plc_bot { display: none !important; }

    /* tmall AD */
    .WB_main_c .send_weibo .key a, .WB_main_c .send_weibo .num, .WB_main_c .send_weibo .kind a, .WB_main_c .send_weibo .func, .WB_main_c .send_weibo .func .S_txt1, .WB_main_c .send_weibo .func .S_ficon { color: #333 !important; }
    .WB_main_c .send_weibo .input { background-color: #fff !important; border-color: #cecece !important; box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15) inset !important; }
    .WB_miniblog { background-image: none !important; padding-top: 50px !important; }
    .send_weibo .input.clicked { border-color: #fa7d3c !important; box-shadow: none !important; }
    .send_weibo .W_btn_a_disable, .send_weibo .W_btn_a_disable:hover { background: #ffc09f none repeat scroll 0 0 !important; border: 1px solid #fbbd9e !important; box-shadow: none !important; }
    .send_weibo .W_btn_a:hover { background: #f7671d none repeat scroll 0 0 !important; border: 1px solid #f06923 !important; }
    .W_btn_a { background: #ff8140 none repeat scroll 0 0 !important; border: 1px solid #f77c3d !important; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) !important; }
    .WB_ad_tm2015, .icon_redpack, .icon_member1, .icon_member2, .icon_member3, .icon_member4, .icon_member5, .icon_member6, .icon_member7{ display: none !important; }

    /* userInfo */
    .B_page .WB_frame #plc_main { width: 920px !important; margin: 0px !important; padding: 20px 0 !important; }
    .B_page .WB_frame_a { width: 100% !important; }
    .B_page .WB_frame_b { width: 240px !important; margin-right: 10px !important; padding: 0 0 0 20px !important; }
    .B_page .WB_frame_c { width: 600px !important; margin: 0px !important; padding: 0 0 0 30px !important; }
    .B_page .PCD_tab { background-color: #fafafa !important; }
    .B_page .WB_cardwrap { border-color: #d8d8d8; border-style: dotted; border-width: 0 0 1px 0; background: none !important; box-shadow: none !important; border-radius: 0px !important; margin: 0px !important; }
    .B_page .WB_app_view { margin: 10px 10px 0 !important; overflow: hidden; }
    .B_page .WB_feed_detail { padding: 10px 0px !important; }
    .B_page .apps_PCD_reco_detail_right .info_box { border: 1px !important; }
    .FRAME_page .WB_feed_handle .WB_handle { left: 320px !important; }
    .FRAME_page .WB_cardwrap .WB_handle ul { border: none !important; }
    .FRAME_page .WB_feed_expand .WB_handle { left: 0; }
    .FRAME_page .repeat_list .WB_handle { left: 90px !important; }
    .FRAME_page .WB_cardwrap .WB_func .WB_handle { left: 0px !important; }
    .FRAME_page .WB_feed_repeat .repeat_list .between_line { border: none !important; }
    .FRAME_page .WB_tab_a .tab_box_a .fr_box { width: auto !important; }
    .PCD_photoflow .piclist_ul { width: 265px !important; }